{%extends 'list_layout.html'%}

{% block content %}
  <script type="text/javascript">
	function showhistory(){
		debugger;
		console.log("show history invoked");
		var viewid = document.getElementById('historytab');
		if (viewid.style.display === 'none'){
			console.log("display ? : " + viewid.style.display);
			viewid.style.display = 'block';
		}
		else{
			console.log("display ? : " + viewid.style.display);
			viewid.style.display = "none";
		}
	}
   </script>
<div id = "header">
	<header class = "container center-align">
	  	<h2>All Tasks</h2>
	</header>
</div>
<div id = "listtable">
	<table  class = "table table-striped">
		<thead class = "thead-inverse">
			<tr>
			<th>task name</th>
			<th>history</th>
			<th>task type</th>
			<th>task status</th>
			<th>task start time</th>
			</tr>
		</thead>
		{% for task in tasklist %}
			<tr>
				<td>{{task.taskname}}</td>
				<td>
					<div id = "historytab">
						<ul>
							{% for action in task.actions.all %}
								<li>{{action.actionname}} : {{action.actiontime}}</li>
							{% endfor %}
						</ul>
					</div>
				</td>
				<td>{{task.tasktype}}</td>
				<td>{{task.taskstatus}}</td>
				<td>{{task.taskstarttime}}</td>
			</tr>

		{% endfor %}
	</table>

</div>

{% endblock %}